# Arquivos e pastas de configuração do editor VS Code
.vscode/

# Pasta principal do PlatformIO com builds, toolchains e dependências.
# Esta é a pasta mais importante a ser ignorada.
.pio/

# Arquivos de build do C/C++
*.o
*.d
*.a
*.so
*.elf
*.bin
*.hex

# Arquivos gerados pelo Python
__pycache__/
*.pyc

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
